@import url("https://use.typekit.net/ymm5trk.css");


html {
    font-size: 100%;
}

body {
    font-family: "futura-pt", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.2rem;
    color: #353535;
    background-color: #EBEBEB;
}

h1 {
    font-size: 5rem;
    color: #004038;
    font-weight: 300;
    width: 31rem;
    line-height: 1em;
    margin-top: 7rem;
    margin-bottom: 3rem;
}


h2 {
    font-size: 1.7rem;
    color: #004038;
    font-weight: 700;
    margin-bottom: 1rem;
}

p {
    width: 31rem;
}

a {
    color: #004038;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.3rem;
}


nav {
    max-width: 72rem;
    margin-left: 70%;
    margin-top: 2rem;

}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;

}

nav ul span {
    color: #004038;
}

nav a {
    color: #004038;
    margin: 0.5rem;
}

nav a:hover {
    text-decoration: underline;
    text-decoration-color: #004038;
    text-decoration-thickness: 0.2rem;

}

.info {
    display: grid;
    grid-template-columns: repeat(2, 36%);
    position: center;
    justify-content: center;
    column-gap: 3%;
    row-gap: 5rem;
    margin-top: 2rem;
    margin-bottom: -5rem;
}

.description {
    font-family: 700;
}

p span {
    font-weight: 700;
    color: #004038;
}

.twister img {
    width: 100%;
    margin-top: 7rem;
}

.twister_prototype {
    display: grid;
    grid-template-columns: repeat(2, 35%);
    position: center;
    justify-content: center;
    column-gap: 5%;
    margin-top: 13rem;
    margin-bottom: -5rem;
}

.twister_prototype p {
    width: 29rem;
}

.prototyp img {
    width: 100%;
    margin-top: 2rem;
}

.twister_final {
    display: grid;
    grid-template-columns: repeat(1, 75%);
    position: center;
    justify-content: center;
    margin-top: 9rem;
}

.twister_final p {
    margin-top: 0rem;
}

.twister_proto_final {
    display: grid;
    grid-template-columns: 49.6% 23.4%;
    position: center;
    justify-content: center;
    column-gap: 2%;
    margin-top: 0rem;
}


.gif_twister {
    display: grid;
    grid-template-columns: repeat(1, 75%);
    position: center;
    justify-content: center;
    margin-top: 1.5rem;
    margin-bottom: 4rem;
}

.twister_gif img {
    width: 100%;
}

.hamburger-menu {
    display: none;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #353535;
    margin: 6px 0;
}

/*Liten dator */
@media only screen and (max-width: 1050px) {

    h1 {
        font-size: 5rem;
        color: #004038;
        font-weight: 300;
        width: 27rem;
        line-height: 0.8em;
        margin-top: 1.5em;
        margin-bottom: 2rem;
    }

    h2 {
        font-size: 1.7rem;
        color: #004038;
        font-weight: 700;
        margin-top: 1rem;
    }

    p {
        width: 27rem;
        margin-top: 1rem;
    }

    a {
        color: #004038;
        text-decoration: none;
        font-weight: 700;
        font-size: 1.3rem;

    }


    .info {
        display: grid;
        grid-template-columns: repeat(2, 43.5%);
        position: center;
        justify-content: center;
        column-gap: 3%;
        margin-top: 2rem;
        margin-bottom: -5rem;
    }

    .description {
        font-family: 700;
    }

    p span {
        font-weight: 700;
        color: #004038;
    }

    .twister img {
        width: 100%;
        margin-top: 7rem;
    }

    .twister_prototype {
        display: grid;
        grid-template-columns: repeat(2, 42.5%);
        position: center;
        justify-content: center;
        column-gap: 5%;
        margin-top: 10rem;
        margin-bottom: -5rem;
    }

    .twister_prototype p {
        width: 29rem;
    }

    .prototyp img {
        width: 100%;
        margin-top: 2rem;
    }

    .twister_final {
        display: grid;
        grid-template-columns: repeat(1, 90%);
        position: center;
        justify-content: center;
        margin-top: 9rem;
    }

    .twister_final p {
        margin-top: 0rem;
    }

    .twister_proto_final {
        display: grid;
        grid-template-columns: 59.8% 28.2%;
        position: center;
        justify-content: center;
        column-gap: 2%;
        margin-top: 0rem;
    }


    .gif_twister {
        display: grid;
        grid-template-columns: repeat(1, 90%);
        position: center;
        justify-content: center;
        margin-top: 1.5rem;
        margin-bottom: 5rem;
    }

    .twister_gif img {
        width: 100%;
    }

}


@media only screen and (max-width: 800px) {
    h1 {
        font-size: 5.5;
        width: 90%;
        margin-top: -2rem;
        color: #004038;
    }


    p {
        width: 100%;
        margin-top: 1rem;
    }

    nav {
        max-width: 100%;
        margin-left: 0;
        margin-top: 1rem;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        margin: 0.5rem 0;
    }


    .hamburger-menu {
        display: block;
        margin-left: 1rem;
    }

    nav ul {
        display: none;
    }

    nav ul {
        flex-direction: column;
        background-color: #EBEBEB;
        width: 90%;
        padding: 1rem;
        box-shadow: 0 0.125rem 0.313rem rgba(0, 0, 0, 0.1);
    }

    .hamburger-menu.active+nav ul {
        display: flex;
    }

    nav ul.active {
        margin-left: 0rem;
        display: flex;
        flex-direction: column;
        top: 3rem;
        background-color: #EBEBEB;
        width: 96%;
        box-shadow: 0 0.125rem 0.313rem rgba(0, 0, 0, 0.1);
        justify-content: center;
        align-items: center;
    }

    .info {
        display: grid;
        grid-template-columns: repeat(1, 90%);
        grid-template-rows: 37rem 20rem;
        position: center;
        justify-content: center;
        row-gap: 5rem;
        margin-top: 1rem;
        overflow: hidden;
    }

    .twister{
        order: -1;
    }
    .twister img {
        width: 100%;
        margin-top: 3rem;
        margin-left: 0rem;
    }

    .twister_prototype {
        display: grid;
        grid-template-columns: repeat(1, 90%);
        grid-template-rows: 20rem 32rem;
        position: center;
        justify-content: center;
        column-gap: 5%;
        margin-top: 10rem;
        margin-bottom: -5rem;
    }

    .twister_prototype p {
        width: 90%
    }

    .prototyp{
        order: 1;
    }
    .prototyp img {
        width: 100%;
        margin-top: 2rem;
    }

    .twister_final {
        display: grid;
        grid-template-columns: repeat(1, 90%);
        position: center;
        justify-content: center;
        margin-top: 9rem;
    }

    .twister_final p {
        margin-top: 0rem;
    }

    .twister_proto_final {
        display: grid;
        grid-template-columns: 59.8% 28.2%;
        position: center;
        justify-content: center;
        column-gap: 2%;
        margin-top: 0rem;
    }


    .gif_twister {
        display: grid;
        grid-template-columns: repeat(1, 90%);
        position: center;
        justify-content: center;
        margin-top: 1.5rem;
        margin-bottom: 4rem;
    }

    .twister_gif img {
        width: 100%;
    }

}


/* stor telefon */
@media only screen and (max-width: 500px) { 
    h1 {
        font-size: 2.8rem;
        width: 100%;
        margin-top: -4rem;
        margin-left: 0;
    }

    h1 span {
        font-size: 2.8rem;
    }

    p {
        width: 90%;
        margin-top: 1rem;
        margin-bottom: 0rem;
    }

    nav {
        max-width: 100%;
        margin-left: 0;
        margin-top: 1rem;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        margin: 0.5rem 0;
    }

    .hamburger-menu {
        display: block;
        margin-left: 0rem;
    }

    nav ul {
        display: none;
    }

    nav ul {
        flex-direction: column;
        background-color: #EBEBEB;
        width: 100%;
        padding: 1rem;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        justify-content: center;
        align-items: center;
    }

    .hamburger-menu.active + nav ul {
        display: flex;
    }

    nav ul.active {
        display: flex;
        flex-direction: column;
        top: 2rem;
        background-color: #EBEBEB;
        width: 90%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
        margin: 0;
    }

    .info {
        display: grid;
        grid-template-columns: repeat(1, 90%);
        grid-template-rows: 27rem 22rem;
        position: center;
        justify-content: center;
        row-gap: 2rem;
        margin-top: 1rem;
        overflow: hidden;
    }

    
    .twister{
        order: -1;
    }
    .twister img {
        width: 100%;
        margin-top: 3rem;
        margin-left: 0rem;
    }

    .twister_prototype {
        display: grid;
        grid-template-columns: repeat(1, 90%);
        grid-template-rows: 34rem 20rem;
        position: center;
        justify-content: center;
        column-gap: 5%;
        margin-top: 8rem;
        margin-bottom: -5rem;
    }

    .twister_prototype p {
        width: 90%
    }

    .prototyp{
        order: 1;
    }
    .prototyp img {
        width: 100%;
        margin-top: 2rem;
    }

    .twister_final {
        display: grid;
        grid-template-columns: repeat(1, 90%);
        position: center;
        justify-content: center;
        margin-top: 8rem;
    }

    .twister_final p {
        margin-top: 0rem;
    }

    .twister_proto_final {
        display: grid;
        grid-template-columns: 59.8% 28.2%;
        position: center;
        justify-content: center;
        column-gap: 2%;
        margin-top: 0.5rem;
    }


    .gif_twister {
        display: grid;
        grid-template-columns: repeat(1, 90%);
        position: center;
        justify-content: center;
        margin-top: 0rem;
        margin-bottom: 4rem;
    }

    .twister_gif img {
        width: 100%;
    }


}

/*mellan telefon*/
@media only screen and (max-width: 400px) {
    h1 {
        font-size: 2.8rem;
        width: 100%;
        margin-top: -4rem;
        margin-left: 0;
    }

    h1 span {
        font-size: 2.8rem;
    }

    p {
        width: 90%;
        margin-top: 1rem;
        margin-bottom: 0rem;
    }

    .info {
        display: grid;
        grid-template-columns: repeat(1, 90%);
        grid-template-rows: 24rem 23rem;
        position: center;
        justify-content: center;
        row-gap: 2rem;
        margin-top: 1rem;
        overflow: hidden;
    }

    
    .twister{
        order: -1;
    }
    .twister img {
        width: 100%;
        margin-top: 3rem;
        margin-left: 0rem;
    }

    .twister_prototype {
        display: grid;
        grid-template-columns: repeat(1, 90%);
        grid-template-rows: 37rem 18rem;
        position: center;
        justify-content: center;
        column-gap: 5%;
        margin-top: 8rem;
        margin-bottom: -5rem;
    }

    .twister_prototype p {
        width: 90%
    }

    .prototyp{
        order: 1;
    }
    .prototyp img {
        width: 100%;
        margin-top: 2rem;
    }

    .twister_final {
        display: grid;
        grid-template-columns: repeat(1, 90%);
        position: center;
        justify-content: center;
        margin-top: 8rem;
    }

    .twister_final p {
        margin-top: 0rem;
    }

    .twister_proto_final {
        display: grid;
        grid-template-columns: 59.8% 28.2%;
        position: center;
        justify-content: center;
        column-gap: 2%;
        margin-top: 0.5rem;
    }


    .gif_twister {
        display: grid;
        grid-template-columns: repeat(1, 90%);
        position: center;
        justify-content: center;
        margin-top: 0rem;
        margin-bottom: 4rem;
    }

    .twister_gif img {
        width: 100%;
    }
}


/* Liten telefon */
@media only screen and (max-width: 350px) {
    h1 {
        font-size: 2.8rem;
        width: 100%;
        margin-top: -4rem;
        margin-left: 0;
    }

    h1 span {
        font-size: 2.8rem;
    }

    p {
        width: 90%;
        margin-top: 1rem;
        margin-bottom: 0rem;
    }

    nav {
        max-width: 100%;
        margin-left: 0;
        margin-top: 1rem;
    }

    nav ul {
        flex-direction: column;
        background-color: #EBEBEB;
        width: 100%;
        padding: 1rem;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        justify-content: center;
        align-items: center;
    }

    .hamburger-menu.active + nav ul {
        display: flex;
    }

    nav ul.active {
        display: flex;
        flex-direction: column;
        top: 2rem;
        background-color: #EBEBEB;
        width: 90%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
        margin: 0;
    }

    
    .info {
        display: grid;
        grid-template-columns: repeat(1, 90%);
        grid-template-rows: 21rem 28rem;
        position: center;
        justify-content: center;
        row-gap: 2rem;
        margin-top: 1rem;
        overflow: hidden;
    }

    
    .twister{
        order: -1;
    }
    .twister img {
        width: 100%;
        margin-top: 3rem;
        margin-left: 0rem;
    }

    .twister_prototype {
        display: grid;
        grid-template-columns: repeat(1, 90%);
        grid-template-rows: 44rem 15rem;
        position: center;
        justify-content: center;
        column-gap: 5%;
        margin-top: 6rem;
        margin-bottom: -5rem;
    }

    .twister_prototype p {
        width: 90%
    }

    .prototyp{
        order: 1;
    }
    .prototyp img {
        width: 100%;
        margin-top: 1.5rem;
    }

    .twister_final {
        display: grid;
        grid-template-columns: repeat(1, 90%);
        position: center;
        justify-content: center;
        margin-top: 8rem;
    }

    .twister_final p {
        margin-top: 0rem;
    }

    .twister_proto_final {
        display: grid;
        grid-template-columns: 59.8% 28.2%;
        position: center;
        justify-content: center;
        column-gap: 2%;
        margin-top: 0.5rem;
    }


    .gif_twister {
        display: grid;
        grid-template-columns: repeat(1, 90%);
        position: center;
        justify-content: center;
        margin-top: 0rem;
        margin-bottom: 4rem;
    }

    .twister_gif img {
        width: 100%;
    }

}