@import url("https://use.typekit.net/ymm5trk.css");


html {
    font-size: 100%;
}

body {
    font-family: "futura-pt", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.2rem;
    color: #353535;
    background-color: #EBEBEB;
}

h1 {
    font-size: 5rem;
    color: #004038;
    font-weight: 300;
    width: 30rem;
    line-height: 1em;
    margin-top: 7rem;
    margin-bottom: 3rem;
}


h2 {
    font-size: 1.7rem;
    color: #004038;
    font-weight: 700;
}

p {
    width: 30rem;
    margin-top: 1rem;
}

a {
    color: #004038;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.3rem;
}


nav {
    max-width: 72rem;
    margin-left: 70%;
    margin-top: 2rem;

}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;

}

nav ul span {
    color: #004038;
}

nav a {
    color: #004038;
    margin: 0.5rem;
}

nav a:hover {
    text-decoration: underline;
    text-decoration-color: #004038;
    text-decoration-thickness: 0.2rem;

}

.info {
    display: grid;
    grid-template-columns: repeat(2, 36%);
    grid-template-rows: repeat(1, 65%);
    position: center;
    justify-content: center;
    column-gap: 3%;
    row-gap: 5rem;
    margin-top: 2rem;
    margin-bottom: -5rem;
}

.prom img {
    width: 35%;
    margin-top: 7rem;
    margin-left: 8rem;
}

.description {
    font-family: 700;
}

p span {
    font-weight: 700;
    color: #004038;
}

.poster img {
    width: 100%;
}

.post {
    display: grid;
    grid-template-columns: 35% repeat(2, 18%);
    grid-template-rows: repeat(1, 65%);
    position: center;
    justify-content: center;
    column-gap: 2%;
    row-gap: 5rem;
    margin-top: 12rem;
    margin-bottom: -5rem;
}

.post h2 {
    margin-top: 1rem;
}

.poster img {
    width: 100%;
    margin-top: 1rem;
}

.pictures {
    display: grid;
    grid-template-columns: repeat(2, 36%);
    grid-template-rows: repeat(1, 65%);
    position: center;
    justify-content: center;
    column-gap: 3%;
    row-gap: 5rem;
    margin-top: 7rem;
    margin-bottom: -5rem;
}

.logo {
    display: grid;
    grid-template-columns: repeat(2, 36%);
    position: center;
    justify-content: center;
    column-gap: 3%;
    align-items: flex-end;
    margin-top: 10rem;
    padding-top: 3rem;
}

.logo_new img {
    width: 40%;
    height: auto;
    display: block;
    margin: 0;
    margin-left: -10rem;
    margin-right: auto;
    /* Flytta bilden till vänster inom gridet */
}

.logo_old img {
    width: 40%;
    height: auto;
    display: block;
    margin: 0;
    margin-top: 5rem;
    margin-right: auto;
    /* Flytta bilden till vänster inom gridet */
}


.logo_new {
    position: relative;
}

.line {
    position: absolute;
    top: 2%;
    /* Placera linjen mitt på bilden */
    left: -1rem;
    /* Justera detta beroende på hur långt från bilden du vill att linjen ska sträcka sig */
    height: 0.05rem;
    /* Höjden på linjen */
    width: 8rem;
    /* Bredden på linjen */
    background-color: #353535;
    /* Färg på linjen */
}

.line::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0.05rem;
    /* Bredden på den vertikala linjen */
    height: 1rem;
    /* Höjden på linjen */
    background-color: #353535
}

.text-beside-line {
    position: absolute;
    top: 1%;
    left: 8rem;
    /* Justera detta beroende på hur långt från bilden du vill att texten ska vara */
    width: 40%;
}

.bildtext {
    bottom: 0;
    margin-top: 3rem;
    margin-bottom: 4rem;
    text-align: left;
    /* Centrera texten horisontellt under bilden */
    line-height: 1.3rem;
    margin-left: -8.4rem;
}

.bildtext2 {
    bottom: 0;
    margin-top: 3rem;
    margin-bottom: 4rem;
    text-align: left;
    /* Centrera texten horisontellt under bilden */
    line-height: 1.3rem;
    margin-left: 2.2rem;
}


.songhafte {
    display: grid;
    grid-template-columns: repeat(1, 75%);
    position: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.songhafte p {
    margin-top: 0rem;
}

.song {
    display: grid;
    grid-template-columns: repeat(4, 16.5%);
    position: center;
    justify-content: center;
    column-gap: 3%;
    margin-bottom: 5rem;
}

.song img {
    width: 100%;
}


.hamburger-menu {
    display: none;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #353535;
    margin: 6px 0;
}

/*Liten dator */
@media only screen and (max-width: 1050px) {

    h1 {
        font-size: 5rem;
        color: #004038;
        font-weight: 300;
        width: 27rem;
        line-height: 0.8em;
        margin-top: 1.5em;
        margin-bottom: 2rem;
    }

    h2 {
        font-size: 1.7rem;
        color: #004038;
        font-weight: 700;
        margin-top: 1rem;
    }

    p {
        width: 27rem;
        margin-top: 1rem;
    }

    a {
        color: #004038;
        text-decoration: none;
        font-weight: 700;
        font-size: 1.3rem;

    }


    .info {
        display: grid;
        grid-template-columns: repeat(2, 43.5%);
        position: center;
        justify-content: center;
        column-gap: 3%;
        margin-top: 2rem;
        margin-bottom: -5rem;
    }

    .prom img {
        width: 40%;
        margin-top: 7rem;
        margin-left: 8rem;
    }
    
    .description {
        font-family: 700;
    }
    
    p span {
        font-weight: 700;
        color: #004038;
    }
    
    .poster img {
        width: 100%;
    }
    
    .post {
        display: grid;
        grid-template-columns: 41% repeat(2, 22.5%);
        grid-template-rows: repeat(1, 65%);
        position: center;
        justify-content: center;
        column-gap: 2%;
        row-gap: 5rem;
        margin-top: 10rem;
        margin-bottom: -5rem;
    }
    
    .post h2 {
        margin-top: 1rem;
    }
    
    
    .poster img {
        width: 100%;
        margin-top: 1rem;
    }
    
    .pictures {
        display: grid;
        grid-template-columns: repeat(2, 43.5%);
        position: center;
        justify-content: center;
        column-gap: 3%;
        row-gap: 5rem;
        margin-top: 7rem;
        margin-bottom: -5rem;
    }
    
    .logo {
        display: grid;
        grid-template-columns: repeat(2, 43.5%);
        position: center;
        justify-content: center;
        column-gap: 3%;
        align-items: flex-end;
        margin-top: 10rem;
        padding-top: 3rem;
    }
    
    .logo_new img {
        width: 40%;
        height: auto;
        display: block;
        margin: 0;
        margin-left: -9rem;
        margin-right: auto;
    }
    
    .logo_old img {
        width: 40%;
        height: auto;
        display: block;
        margin: 0;
        margin-top: 5rem;
        margin-right: auto;
        margin-left: 0.5rem;
        /* Flytta bilden till vänster inom gridet */
    }
    
    
    .logo_new {
        position: relative;
    }
    
    .line {
        position: absolute;
        top: 2%;
        /* Placera linjen mitt på bilden */
        left: -1rem;
        /* Justera detta beroende på hur långt från bilden du vill att linjen ska sträcka sig */
        height: 0.05rem;
        /* Höjden på linjen */
        width: 8rem;
        /* Bredden på linjen */
        background-color: #353535;
        /* Färg på linjen */
    }
    
    .line::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 0.05rem;
        /* Bredden på den vertikala linjen */
        height: 1rem;
        /* Höjden på linjen */
        background-color: #353535
    }
    
    .text-beside-line {
        position: absolute;
        top: 1%;
        left: 8rem;
        /* Justera detta beroende på hur långt från bilden du vill att texten ska vara */
        width: 40%;
    }
    
    .bildtext {
        bottom: 0;
        margin-top: 3rem;
        margin-bottom: 4rem;
        text-align: left;
        /* Centrera texten horisontellt under bilden */
        line-height: 1.3rem;
        margin-left: -8.4rem;
    }
    
    .bildtext2 {
        bottom: 0;
        margin-top: 3rem;
        margin-bottom: 4rem;
        text-align: left;
        /* Centrera texten horisontellt under bilden */
        line-height: 1.3rem;
        margin-left: 2.2rem;
    }
    
    
    .songhafte {
        display: grid;
        grid-template-columns: repeat(1, 90%);
        position: center;
        justify-content: center;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
    
    .songhafte p {
        margin-top: 0rem;
    }
    
    .song {
        display: grid;
        grid-template-columns: repeat(4, 20.25%);
        position: center;
        justify-content: center;
        column-gap: 3%;
        margin-bottom: 5rem;
    }
    
    .song img {
        width: 100%;

}
}

@media only screen and (max-width: 800px) {
    h1 {
        font-size: 5.5;
        width: 90%;
        margin-top: -2rem;
        color: #004038;
    }


    p {
        width: 100%;
        margin-top: 1rem;
    }

    nav {
        max-width: 100%;
        margin-left: 0;
        margin-top: 1rem;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        margin: 0.5rem 0;
    }


    .hamburger-menu {
        display: block;
        margin-left: 1rem;
    }

    nav ul {
        display: none;
    }

    nav ul {
        flex-direction: column;
        background-color: #EBEBEB;
        width: 90%;
        padding: 1rem;
        box-shadow: 0 0.125rem 0.313rem rgba(0, 0, 0, 0.1);
    }

    .hamburger-menu.active+nav ul {
        display: flex;
    }

    nav ul.active {
        margin-left: 0rem;
        display: flex;
        flex-direction: column;
        top: 3rem;
        background-color: #EBEBEB;
        width: 96%;
        box-shadow: 0 0.125rem 0.313rem rgba(0, 0, 0, 0.1);
        justify-content: center;
        align-items: center;
    }

    .info {
        display: grid;
        grid-template-columns: repeat(1, 90%);
        grid-template-rows: 27rem 20rem;
        position: center;
        justify-content: center;
        row-gap: 5rem;
        margin-top: 1rem;
        overflow: hidden;
    }

    .prom{
        order: -1;

    }
    .prom img {
        width: 30%;
        margin-top: 3rem;
        margin-left: 15rem;
        
    }
    
    .poster img {
        width: 100%;
    }
    

    .post {
        display: grid;
        grid-template-columns: 90%;
        grid-template-rows: 4rem 58rem 60rem;
        position: center;
        justify-content: center;
        column-gap: 3%;
        row-gap: 5rem;
        margin-top: 12rem;
        margin-bottom: -5rem;
    }
    
    .post h2 {
        margin-top: 0rem;
    }

    
    .poster img {
        width: 100%;
        margin-top: 1rem;
    }
    
    .pictures {
        display: grid;
        grid-template-columns: repeat(2, 43.5%);
        position: center;
        justify-content: center;
        column-gap: 3%;
        row-gap: 5rem;
        margin-top: 7rem;
        margin-bottom: -5rem;
    }
    
    .logo {
        display: grid;
        grid-template-columns: repeat(2, 41.5%);
        position: center;
        justify-content: center;
        column-gap: 3%;
        align-items: flex-end;
        margin-top: 10rem;
        padding-top: 3rem;
    }
    
    .logo_new img {
        width: 40%;
        height: auto;
        display: block;
        margin: 0;
        margin-left: -8rem;
        margin-right: auto;
    }
    
    .logo_old img {
        width: 40%;
        height: auto;
        display: block;
        margin: 0;
        margin-top: 5rem;
        margin-right: auto;
        margin-left: 0rem;
        /* Flytta bilden till vänster inom gridet */
    }
    
    
    .logo_new {
        position: relative;
    }
    
    .line {
        position: absolute;
        top: 2%;
        /* Placera linjen mitt på bilden */
        left: -2rem;
        /* Justera detta beroende på hur långt från bilden du vill att linjen ska sträcka sig */
        height: 0.05rem;
        /* Höjden på linjen */
        width: 8rem;
        /* Bredden på linjen */
        background-color: #353535;
        /* Färg på linjen */
    }
    
    .line::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 0.05rem;
        /* Bredden på den vertikala linjen */
        height: 1rem;
        /* Höjden på linjen */
        background-color: #353535
    }
    
    .text-beside-line {
        position: absolute;
        top: 1%;
        left: 7rem;
        /* Justera detta beroende på hur långt från bilden du vill att texten ska vara */
        width: 40%;
    }
    
    .bildtext {
        bottom: 0;
        margin-top: 3rem;
        margin-bottom: 4rem;
        text-align: left;
        /* Centrera texten horisontellt under bilden */
        line-height: 1.3rem;
        margin-left: -8.4rem;
    }
    
    .bildtext2 {
        bottom: 0;
        margin-top: 3rem;
        margin-bottom: 4rem;
        text-align: left;
        /* Centrera texten horisontellt under bilden */
        line-height: 1.3rem;
        margin-left: 0rem;
    }
    
    
    .songhafte {
        display: grid;
        grid-template-columns: repeat(1, 90%);
        position: center;
        justify-content: center;
        margin-top: 3rem;
        margin-bottom: 1rem;
    }
    
    .songhafte p {
        margin-top: 0rem;
    }
    
    .song {
        display: grid;
        grid-template-columns: repeat(4, 20.25%);
        position: center;
        justify-content: center;
        column-gap: 3%;
        margin-bottom: 5rem;
    }
    
    .song img {
        width: 100%;

}

}


/* stor telefon */
@media only screen and (max-width: 500px) { 
    h1 {
        font-size: 2.8rem;
        width: 100%;
        margin-top: -4rem;
        margin-left: 0;
    }

    h1 span {
        font-size: 2.8rem;
    }

    p {
        width: 90%;
        margin-top: 1rem;
        margin-bottom: 0rem;
    }

    nav {
        max-width: 100%;
        margin-left: 0;
        margin-top: 1rem;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        margin: 0.5rem 0;
    }

    .hamburger-menu {
        display: block;
        margin-left: 0rem;
    }

    nav ul {
        display: none;
    }

    nav ul {
        flex-direction: column;
        background-color: #EBEBEB;
        width: 100%;
        padding: 1rem;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        justify-content: center;
        align-items: center;
    }

    .hamburger-menu.active + nav ul {
        display: flex;
    }

    nav ul.active {
        display: flex;
        flex-direction: column;
        top: 2rem;
        background-color: #EBEBEB;
        width: 90%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
        margin: 0;
    }

    .info {
        display: grid;
        grid-template-columns: repeat(1, 90%);
        grid-template-rows: 30rem 18rem;
        position: center;
        justify-content: center;
        row-gap: 2rem;
        margin-top: 1rem;
        overflow: hidden;
    }
   
    .prom{
        order: -1;
    }
    
    .prom img {
        width: 50%;
        margin-top: 3rem;
        margin-left: 6rem;
        
    }
    
    .poster img {
        width: 100%;
    }
    

    .post {
        display: grid;
        grid-template-columns: 90%;
        grid-template-rows: 4rem 29rem 33rem;
        position: center;
        justify-content: center;
        column-gap: 3%;
        row-gap: 5rem;
        margin-top: 12rem;
        margin-bottom: -5rem;
    }
    
    .post h2 {
        margin-top: 0rem;
    }

    
    .poster img {
        width: 100%;
        margin-top: 1rem;
    }
    
    .pictures {
        display: grid;
        grid-template-columns: repeat(1, 90%);
        grid-template-rows: 31rem 33rem;
        position: center;
        justify-content: center;
        column-gap: 3%;
        row-gap: 5rem;
        margin-top: 7rem;
        margin-bottom: -6rem;
    }
    
    .logo {
        display: grid;
        grid-template-columns: 90%;
        grid-template-rows: repeat(52rem 30rem);
        position: center;
        justify-content: center;
        align-items: flex-end;
        margin-top: 6rem;
        padding-top: 3rem;
    }
    
    .logo_new img {
        width: 40%;
        height: auto;
        display: block;
        margin: 0;
        margin-left: 7rem;
        margin-right: auto;
    }
    
    .logo_old img {
        width: 40%;
        height: auto;
        display: block;
        margin: 0;
        margin-top: 5rem;
        margin-right: auto;
        margin-left: 7rem;
        /* Flytta bilden till vänster inom gridet */
    }
    
    
    .logo_new {
        position: relative;
    }
    
    .line {
        position: absolute;
        top: -9%;
        /* Placera linjen mitt på bilden */
        left: 6.5rem;
        /* Justera detta beroende på hur långt från bilden du vill att linjen ska sträcka sig */
        height: 0.05rem;
        /* Höjden på linjen */
        width: 5rem;
        /* Bredden på linjen */
        background-color: #353535;
        /* Färg på linjen */
    }
    
    .line::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 0.05rem;
        /* Bredden på den vertikala linjen */
        height: 1.6rem;
        /* Höjden på linjen */
        background-color: #353535
    }
    
    .text-beside-line {
        position: absolute;
        top: -33%;
        left: 2rem;
        /* Justera detta beroende på hur långt från bilden du vill att texten ska vara */
        width: 40%;
    }
    
    .bildtext {
        bottom: 0;
        margin-top: 2rem;
        margin-bottom: 4rem;
        text-align: left;
        /* Centrera texten horisontellt under bilden */
        line-height: 1.3rem;
        margin-left: 7.5rem;
        overflow: hidden;
        width: 10rem;
    }
    
    .bildtext2 {
        bottom: 0;
        margin-top: 2rem;
        margin-bottom: 11rem;
        text-align: left;
        /* Centrera texten horisontellt under bilden */
        line-height: 1.3rem;
        margin-left: 8rem;
        overflow: hidden;
        width: 10rem;
    }
    
    
    .songhafte {
        display: grid;
        grid-template-columns: repeat(1, 90%);
        position: center;
        justify-content: center;
        margin-top: 3rem;
        margin-bottom: 2rem;
    }
    
    .songhafte p {
        margin-top: 0rem;
    }
    
    .song {
        display: grid;
        grid-template-columns: repeat(2, 43.5%);
        grid-template-rows: repeat(2, 23rem);
        position: center;
        justify-content: center;
        column-gap: 3%;
        margin-bottom: 2rem;
    }
    
    .song img {
        width: 100%;

}

}

/*mellan telefon*/
@media only screen and (max-width: 400px) {
    h1 {
        font-size: 2.8rem;
        width: 100%;
        margin-top: -4rem;
        margin-left: 0;
    }

    h1 span {
        font-size: 2.8rem;
    }

    p {
        width: 90%;
        margin-top: 1rem;
        margin-bottom: 0rem;
    }

    .info {
        display: grid;
        grid-template-columns: repeat(1, 90%);
        grid-template-rows: 27rem 20rem;
        position: center;
        justify-content: center;
        row-gap: 2rem;
        margin-top: 1rem;
        overflow: hidden;
    }

    .prom{
        order: -1;
    }
    
    .prom img {
        width: 50%;
        margin-top: 3rem;
        margin-left: 6rem;
        
    }
    
    .poster img {
        width: 100%;
    }
    

    .post {
        display: grid;
        grid-template-columns: 90%;
        grid-template-rows: 6rem 25rem 30rem;
        position: center;
        justify-content: center;
        column-gap: 3%;
        row-gap: 5rem;
        margin-top: 9rem;
        margin-bottom: -5rem;
    }
    
    .post h2 {
        margin-top: 0rem;
    }

    
    .poster img {
        width: 100%;
        margin-top: 1rem;
    }
    
    .pictures {
        display: grid;
        grid-template-columns: repeat(1, 90%);
        grid-template-rows: 27rem 33rem;
        position: center;
        justify-content: center;
        column-gap: 3%;
        row-gap: 5rem;
        margin-top: 7rem;
        margin-bottom: -6rem;
    }
    
    .logo {
        display: grid;
        grid-template-columns: 90%;
        grid-template-rows: repeat(52rem 30rem);
        position: center;
        justify-content: center;
        align-items: flex-end;
        margin-top: 5rem;
        padding-top: 3rem;
    }
    
    .logo_new img {
        width: 50%;
        height: auto;
        display: block;
        margin: 0;
        margin-left: 5.8rem;
        margin-right: auto;
    }
    
    .logo_old img {
        width: 50%;
        height: auto;
        display: block;
        margin: 0;
        margin-top: 5rem;
        margin-right: auto;
        margin-left: 5.8rem;
        /* Flytta bilden till vänster inom gridet */
    }
    
    
    .logo_new {
        position: relative;
    }
    
    .line {
        position: absolute;
        top: -11%;
        /* Placera linjen mitt på bilden */
        left: 7.6rem;
        /* Justera detta beroende på hur långt från bilden du vill att linjen ska sträcka sig */
        height: 0.05rem;
        /* Höjden på linjen */
        width: 3rem;
        /* Bredden på linjen */
        background-color: #353535;
        /* Färg på linjen */
    }
    
    .line::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 0.05rem;
        /* Bredden på den vertikala linjen */
        height: 1.6rem;
        /* Höjden på linjen */
        background-color: #353535
    }
    
    .text-beside-line {
        position: absolute;
        top: -33%;
        left: 2rem;
        /* Justera detta beroende på hur långt från bilden du vill att texten ska vara */
        width: 40%;
    }
    
    .bildtext {
        bottom: 0;
        margin-top: 2rem;
        margin-bottom: 4rem;
        text-align: left;
        /* Centrera texten horisontellt under bilden */
        line-height: 1.3rem;
        margin-left: 6rem;
        overflow: hidden;
        width: 10rem;
    }
    
    .bildtext2 {
        bottom: 0;
        margin-top: 2rem;
        margin-bottom: 12rem;
        text-align: left;
        /* Centrera texten horisontellt under bilden */
        line-height: 1.3rem;
        margin-left: 7rem;
        overflow: hidden;
        width: 10rem;
    }
    
    
    .songhafte {
        display: grid;
        grid-template-columns: repeat(1, 90%);
        position: center;
        justify-content: center;
        margin-top: 3rem;
        margin-bottom: 2rem;
    }
    
    .songhafte p {
        margin-top: 0rem;
    }
    
    .song {
        display: grid;
        grid-template-columns: repeat(2, 43.5%);
        grid-template-rows: repeat(2, 23rem);
        position: center;
        justify-content: center;
        column-gap: 3%;
        margin-bottom: 2rem;
    }
    
    .song img {
        width: 100%;

}
}


/* Liten telefon */
@media only screen and (max-width: 350px) {
    h1 {
        font-size: 2.8rem;
        width: 100%;
        margin-top: -4rem;
        margin-left: 0;
    }

    h1 span {
        font-size: 2.8rem;
    }

    p {
        width: 90%;
        margin-top: 1rem;
        margin-bottom: 0rem;
    }

    nav {
        max-width: 100%;
        margin-left: 0;
        margin-top: 1rem;
    }

    nav ul {
        flex-direction: column;
        background-color: #EBEBEB;
        width: 100%;
        padding: 1rem;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        justify-content: center;
        align-items: center;
    }

    .hamburger-menu.active + nav ul {
        display: flex;
    }

    nav ul.active {
        display: flex;
        flex-direction: column;
        top: 2rem;
        background-color: #EBEBEB;
        width: 90%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
        margin: 0;
    }

    
    .info {
        display: grid;
        grid-template-columns: repeat(1, 90%);
        grid-template-rows: 22rem 22rem;
        position: center;
        justify-content: center;
        row-gap: 2rem;
        margin-top: 1rem;
        overflow: hidden;
    }

    
    .prom{
        order: -1;
    }
    
    .prom img {
        width: 50%;
        margin-top: 2rem;
        margin-left: 5rem;
        
    }
    
    .poster img {
        width: 100%;
    }
    

    .post {
        display: grid;
        grid-template-columns: 90%;
        grid-template-rows: 6rem 21rem 27rem;
        position: center;
        justify-content: center;
        column-gap: 3%;
        row-gap: 5rem;
        margin-top: 9rem;
        margin-bottom: -5rem;
    }
    
    .post h2 {
        margin-top: 0rem;
    }

    
    .poster img {
        width: 100%;
        margin-top: 1rem;
    }
    
    .pictures {
        display: grid;
        grid-template-columns: repeat(1, 90%);
        grid-template-rows: 22.5rem 28rem;
        position: center;
        justify-content: center;
        column-gap: 3%;
        row-gap: 5rem;
        margin-top: 7rem;
        margin-bottom: -6rem;
    }
    
    .logo {
        display: grid;
        grid-template-columns: 90%;
        grid-template-rows: repeat(52rem 30rem);
        position: center;
        justify-content: center;
        align-items: flex-end;
        margin-top: 5rem;
        padding-top: 3rem;
    }
    
    .logo_new img {
        width: 60%;
        height: auto;
        display: block;
        margin: 0;
        margin-left: 4rem;
        margin-right: auto;
    }
    
    .logo_old img {
        width: 60%;
        height: auto;
        display: block;
        margin: 0;
        margin-top: 5rem;
        margin-right: auto;
        margin-left: 4rem;
        /* Flytta bilden till vänster inom gridet */
    }
    
    
    .logo_new {
        position: relative;
    }
    
    .line {
        position: absolute;
        top: -11%;
        /* Placera linjen mitt på bilden */
        left: 6rem;
        /* Justera detta beroende på hur långt från bilden du vill att linjen ska sträcka sig */
        height: 0.05rem;
        /* Höjden på linjen */
        width: 3rem;
        /* Bredden på linjen */
        background-color: #353535;
        /* Färg på linjen */
    }
    
    .line::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 0.05rem;
        /* Bredden på den vertikala linjen */
        height: 1.6rem;
        /* Höjden på linjen */
        background-color: #353535
    }
    
    .text-beside-line {
        position: absolute;
        top: -38%;
        left: 0rem;
        /* Justera detta beroende på hur långt från bilden du vill att texten ska vara */
        width: 40%;
    }
    
    .bildtext {
        bottom: 0;
        margin-top: 2rem;
        margin-bottom: 4rem;
        text-align: left;
        line-height: 1.3rem;
        margin-left: 4.5rem;
        overflow: hidden;
        width: 10rem;
    }
    
    .bildtext2 {
        bottom: 0;
        margin-top: 2rem;
        margin-bottom: 14rem;
        text-align: left;
        line-height: 1.3rem;
        margin-left: 5rem;
        overflow: hidden;
        width: 10rem;
    }
    
    
    .songhafte {
        display: grid;
        grid-template-columns: repeat(1, 90%);
        position: center;
        justify-content: center;
        margin-top: 3rem;
        margin-bottom: 2rem;
    }
    
    .songhafte p {
        margin-top: 0rem;
    }
    
    .song {
        display: grid;
        grid-template-columns: repeat(1, 90%);
        grid-template-rows: repeat(4, 35rem);
        position: center;
        justify-content: center;
        column-gap: 3%;
        margin-bottom: 2rem;
    }
    
    .song img {
        width: 100%;

}
}